@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "https://www.nerdfonts.com/assets/css/webfont.css";

footer div {
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.content {
    padding: 15px;
    position: relative;
    width: 40%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.5;
}

.trigger {
    display: flex;    
    gap: 25px;
    margin-top: 15px;
}

.nf-icons {
    font-size: 100px;
}

.divided {
    animation: appearance 1s;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 50px;
    margin-bottom: 50px;

    img {
        margin: auto;
        border-radius: 5px;
    }
    
    div {
        font-family: "Montserrat", serif;

        h1 {
            font-size: 25px;
        }
    }
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/EclairPlayer/assets/screenshot.png');
    background-position: center;
    border-radius: 10px;
    animation: appearance 1.5s;
    font-family: "Nunito", serif;
}

.site-title, .title-div div {
    font-family: "Sour Gummy", serif;
}

.img-left {
    animation: left-appearance 1s;
}

.img-right {
    animation: right-appearance 1s;
}

.assets {
    display: flex;
    justify-content: space-between;
}

.asset i {
    font-size: clamp(16px, 20vw, 160px);
    animation: appearance 1s;
}

.arch {
    margin-top: 20px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    a {
        color: black;
        text-decoration: underline;
    }
}

@keyframes left-appearance {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: 0;
        opacity: 100;
    }
}

@keyframes right-appearance {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: 0;
        opacity: 100;
    }
}

@keyframes appearance {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: 0;
        opacity: 100;
    }
}

@media (width < 1162px) {
    .content {
        padding: 15px;
        position: relative;
        width: 80%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
@media (width <= 700px) {
    .divided {
        grid-template-columns: 1fr;
        gap: 0;

        img {
            order: -1;
        }
    }
}
@media (width < 443px) {
    .nf-icons {
        font-size: 60px;
    }
}