<link rel="stylesheet" href="/EclairPlayer/css/style.css">

<hr style="border-top: 3px soild #bbb">

<footer>
    <div>
        <a href="https://github.com/NonExistPlayer/EclairPlayer">
            {{ site.data.t[page.lang].eclair-source-code }}
        </a>
        <a href="https://github.com/NonExistPlayer/EclairPlayer/tree/gh-pages">
            {{ site.data.t[page.lang].source-code }}
        </a>
    </div>
    <div>{{ site.data.t[page.lang].license }}</div>
    <div>Copyright © 2025 Ilya Korobov</div>
</footer>