<link rel="stylesheet" href="/EclairPlayer/css/style.css">

<hr style="border-top: 3px soild #bbb">

<footer>
    <div>
        <a href="https://github.com/NonExistPlayer/EclairPlayer">Eclair Source Code</a>
        <a href="https://github.com/NonExistPlayer/EclairPlayer/tree/gh-pages">Site Source Code</a>
    </div>
    <div style="gap: 3px">
        The source code of this site is protected by the
        <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3.0</a> license.<br>
    </div>
    <div>Copyright © 2025 Ilya Korobov</div>
</footer>