<link rel="stylesheet" href="/EclairPlayer/css/style.css">

<hr style="border-top: 3px soild #bbb">

<footer>
    <div>
        <a href="https://github.com/NonExistPlayer/EclairPlayer">Исходный код Eclair</a>
        <a href="https://github.com/NonExistPlayer/EclairPlayer/tree/gh-pages">Исходный код сайта</a>
    </div>
    <div style="gap: 3px">
        Исходный код этого сайт защищён лицензией
        <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3.0</a>.
    </div>
    <div>Copyright © 2025 Ilya Korobov</div>
</footer>