---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if page.lang == 'ru' -%}
    {%- assign posts_list = site.posts-ru -%}
  {%- else -%}
    <p style="font-size: small">
    <b>Important!</b><br>
    Google Translate is used to translate posts into English, as well as for the entire site.<br>
    If you see errors on the site, please report them to GitHub.<br><br>

    It is recommended to read the posts in the original.
    </p>
    {%- assign posts_list = site.posts -%}
  {%- endif -%}

  {%- if posts_list.size > 0 -%}
    <ul class="post-list">
      {%- for post in posts_list -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ site.data.t[page.lang][post.category] }}, {{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
