---
layout: default
---

{% assign windows = site.data.download[page.ver].windows %}
{% assign linux = site.data.download[page.ver].linux %}
{% assign android = site.data.download[page.ver].android %}

<h1>{{ page.title }}</h1>

<div class="assets">
    <div class="asset">
        <i class="nf nf-custom-windows"></i>
        <div class="arch">
            {% for asset in windows %}
                <a href="https://github.com/NonExistPlayer/EclairPlayer/releases/download/v{{ page.ver }}/{{ asset[1] }}">
                    {{ asset[0] }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="asset">
        <i class="nf nf-fa-linux"></i>
        <div class="arch">
            {% for asset in linux %}
                <a href="https://github.com/NonExistPlayer/EclairPlayer/releases/download/v{{ page.ver }}/{{ asset[1] }}">
                    {{ asset[0] }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="asset">
        <i class="nf nf-dev-android"></i>
        <div class="arch">
            {% for asset in android %}
                <a href="https://github.com/NonExistPlayer/EclairPlayer/releases/download/v{{ page.ver }}/{{ asset[1] }}">
                    {{ asset[0] }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{{ content }}